.about-container {
    margin-bottom: 4rem;
}

.about-image {
    height: 30rem;
    width: 30rem;
    z-index: -1;
}

.about-title {
    color: #453A2F;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 4rem;
}

.about-paragraph {
    color: #453A2F;
    font-size: 1.25rem;
    margin: 3rem;
}

@media (max-width: 575px) {

    .about-container {
        margin-bottom: 1rem;
    }

    .about-image {
        height: auto;
        width: 100%;
        margin-bottom: 5rem;
    }

    .row {
        justify-content: center;
    }

    .about-title {
        font-size: 2.5rem;
        margin: 0 4rem;
    }

    .about-paragraph {
        font-size: 1rem;
        margin-bottom: 0;
    }
}


@media (min-width: 576px) and (max-width: 1200px) {

    .about-container {
        margin-bottom: 0;
        margin-top: -2rem;
    }

    .about-image {
        height: auto;
        width: 100%;
        margin-bottom: 4rem;
    }

    .row {
        justify-content: center;
    }

    .about-title {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .about-paragraph {
        font-size: 1.2rem;
        margin: 1rem;
        margin-bottom: 0;
    }

}