.about-us-container {
    margin-top: 0;
    margin-bottom: 4rem;
}

.about-us-image {
    height: 400px;
    width: 400px;
    z-index: -1;
}

.about-us-title {
    color: #453A2F;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 4rem;
}

.about-us-paragraph {
    color: #453A2F;
    font-size: 1.25rem;
}