@font-face {
     font-family: 'PPNeueMontreal';
     src: url('./fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
          url('./fonts/PPNeueMontreal-Bold.woff') format('woff'),
          url('./fonts/PPNeueMontreal-Bold.otf') format('opentype'),
          url('./fonts/PPNeueMontreal-Bold.ttf') format('truetype');
     font-weight: 800;
     font-style: normal;
}

@font-face {
     font-family: 'PPNeueMontreal';
     src: url('./fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
          url('./fonts/PPNeueMontreal-Medium.woff') format('woff'),
          url('./fonts/PPNeueMontreal-Medium.otf') format('opentype'),
          url('./fonts/PPNeueMontreal-Medium.ttf') format('truetype');
     font-weight: 530;
     font-style: normal;
}

@font-face {
     font-family: 'PPNeueMontreal';
     src: url('./fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
          url('./fonts/PPNeueMontreal-Regular.woff') format('woff'),
          url('./fonts/PPNeueMontreal-Regular.otf') format('opentype'),
          url('./fonts/PPNeueMontreal-Regular.ttf') format('truetype');
     font-weight: 450;
     font-style: normal;
}

@font-face {
     font-family: 'PPNeueMontreal';
     src: url('./fonts/PPNeueMontreal-Book.woff2') format('woff2'),
          url('./fonts/PPNeueMontreal-Book.woff') format('woff'),
          url('./fonts/PPNeueMontreal-Book.otf') format('opentype'),
          url('./fonts/PPNeueMontreal-Book.ttf') format('truetype');
     font-weight: 400;
     font-style: normal;
}

@font-face {
     font-family: 'PPNeueMontreal';
     src: url('./fonts/PPNeueMontreal-Light.woff2') format('woff2'),
          url('./fonts/PPNeueMontreal-Light.woff') format('woff'),
          url('./fonts/PPNeueMontreal-Light.otf') format('opentype'),
          url('./fonts/PPNeueMontreal-Light.ttf') format('truetype');
     font-weight: 300;
     font-style: normal;
}

@font-face {
     font-family: 'PPNeueMontreal';
     src: url('./fonts/PPNeueMontreal-Thin.woff2') format('woff2'),
          url('./fonts/PPNeueMontreal-Thin.woff') format('woff'),
          url('./fonts/PPNeueMontreal-Thin.otf') format('opentype'),
          url('./fonts/PPNeueMontreal-Thin.ttf') format('truetype');
     font-weight: 200;
     font-style: normal;
}