.home-posts-album-svg {
    position: absolute;
    top: 130%;
    left: 22.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 2.5rem;
    scale: 0.6;
}

@media (max-width: 1200px) {
    .home-posts-album-svg {
        display: none;
    }
}