@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Defaults */

body {
    background-color: #263429;
    color: #F2F2F2;
    font-family: "Inter", serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Instrument Serif", serif;
    margin: 0;
    padding: 0;
}

html input {
    font-family: "Inter", serif;
    font-weight: 300;
}

/* Utilities */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.centered {
    justify-content: center;
    align-items: center;
}

.ctr {
    margin: 0;
    padding: 0 5vw;
}

.full-vp {
    height: 100dvh;
    width: 100dvw;
}

.large-hd {
    font-size: 200px;
    font-weight: 200;
    line-height: 100%;
}

.medium-hd {
    font-size: 100px;
    font-weight: 200;
    line-height: 100%; 
}

.small-hd {
    font-size: 60px;
    font-weight: 200;
    line-height: 100%; 
}

.body-txt {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.sub-txt {
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

.btn {
    background-color: #F2F2F2;
    color: #263429;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
}

/* Nav */

.nav-ctr {
    padding-top: 5vh;
    padding-bottom: 5vh;
    box-sizing: border-box;
    justify-content: end;
    gap: 2px;
}

.nav-admin-lnk {
    align-items: center;
}

.nav-admin-menu {
    display: none;
    justify-content: end;
    position: absolute;
}

.nav-admin:hover .nav-admin-menu {
    display: flex;
}

/* About */

.about-ctr {
    flex: 1;
}

.about-hd {
    padding-bottom: 40vh;
    padding-right: 10vh;
}

.about-pg-ctr {
    width: 40vw;
    padding-top: 10vh;
}

/* Places */

.places-ctr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px; 
    padding: 50px; 
}

.places-hd {
    margin-top: 10vh;
}

.places-crd {
    padding: 25px; 
    border-radius: 15px;
}

.places-crd-img {
    height: 250px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
}

/* Place (Single) */

.place-ctr {
    width: 80%;
}

.place-hd {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.place-sctn {
    gap: 150px;
    margin-bottom: 100px;
}

.place-txt-ctr {
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
}

.place-img-ctr {
    width: 50%;
}

.place-img {
    max-width: 100%;
    height: 90%;
    border-radius: 5px;
}

/* Comments */

.comments-ctr {
    margin-top: 50px;
    padding: 40px;
}

.comments-hd {
    margin-left: -5px;
    margin-bottom: 50px;
}

.comment {
    margin: 20px 0;
    align-items: center;
}

.comment-athr {
    font-size: 16px;
    font-weight: 530;
    margin: 0;
}

.comment-txt {
    margin: 0 0 0 5px;
}

.comment-inpt-grp {
    margin: 50px 0;
}

.comment-inpt {
    background-color: #263429;
    color: #F2F2F2;
    font-size: 14px;
    margin: 0 25px 0 0;
    border-style: solid;
    border-width: 0 0 0.5px 0;
    border-color: #F2F2F2;
    flex-grow: 1;
}

.comment-btn {
    background-color: #F2F2F2;
    color: #263429;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-dsbled button {
    background-color: #B7B7B7;
}

.comment-dsbled button:hover {
    cursor: not-allowed
}

.comment-dlt {
    margin: 1px 0 0 10px;
    height: 14px;
}

.comment-dlt:hover {
    cursor: pointer;
}

/* Authentication Form */

.auth-otr-ctr {
    flex: 1;
}

.auth-inr-ctr {
    align-items: center;
    min-width: 30%;
}

.auth-frm {
    width: 100%;
}

.auth-frm-hd {
    margin-bottom: 50px;
}

.auth-inpt-grp {
    margin-bottom: 25px
}

.auth-lbl {
    margin-bottom: 20px;
}

.auth-inpt {
    background-color: #263429;
    color: #F2F2F2;
    font-size: 14px;
    border-style: solid;
    border-width: 0 0 0.5px 0;
    border-color: #F2F2F2;
    padding: 8px 0;
}

.auth-btn {
    margin: 20px 0;
}

.auth-2-col-ctr {
    gap: 5%;
}

.auth-2-col {
    width: 50%
}

.auth-err {
    color: #FF4545;
}

/* Tables */

.table-hd-ctr {
    margin-bottom: 50px;
    width: 100%;
    justify-content: space-between;
}

table, th, td {
    border-collapse: collapse;
    border-style: solid;
    border-width: 0.5px;
    border-color: #F2F2F2;
}

thead {
    background-color: #F2F2F2;
}

th {
    text-align: left;
    padding: 15px;
    color: #263429;
    height: 25px;
    min-width: 200px;
}

th:last-child {
    text-align: center;
    min-width: 100px;
}

td {
    padding: 15px;
}

td:last-child {
    text-align: center;
    padding: 15px 0;
}

.table-edt-icon {
    height: 18px;
    margin: 15px;
}

.table-dlt-icon {
    height: 16px;
    margin: 15px;
}


.table-dlt-icon:hover, .table-edt-icon:hover {
    cursor: pointer;
}

/* Manage Posts */

.manage-post-ctr {
    flex: 1;
}

/* Loader */

#ldr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    background-color: #263429;
    position: fixed;
    z-index: 9999;
    margin: 0;
    padding: 0;
}

.spnr {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#F3EEEA 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#F3EEEA);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13{ 
    100%{transform: rotate(1turn)}
}

/* OLD CSS - DO NOT USE */

a {
    text-decoration: none;
    color: inherit; 
}

button {
    background-color: #F3EEEA;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: #59402D;
    margin: 0;
    padding: 0;
}

.linked-text {
    text-decoration: underline;
}

.button-3d {
    font-weight: 400;
    font-size: 16px;
    background-color: #59402D;
    color: #F3EEEA; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 10px;
    padding: 20px 25px;
    border: 2px solid #000000; 
    filter: drop-shadow(4px 4px 0px #000000);
    transition: transform 0.2s ease, filter 0.2s ease;
}

.button-3d:hover {
    cursor: pointer;
    transform: scale(0.95); 
    filter: drop-shadow(2px 2px 0px #000000); 
}

.button-3d-outline {
    font-weight: 400;
    font-size: 16px;
    background-color: #F3EEEA;
    color: #59402D; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 10px;
    padding: 20px 25px;
    border: 2px solid #59402D; 
    filter: drop-shadow(4px 4px 0px #59402D);
    transition: transform 0.2s ease, filter 0.2s ease;
}

.button-3d-outline:hover {
    cursor: pointer;
    transform: scale(0.95); 
    filter: drop-shadow(2px 2px 0px #59402D); 
}

.shrink,
.shrink-mnr {
    transition: transform 0.2s ease;
}

.shrink:hover {
    transform: scale(0.9);
} 

.shrink-mnr:hover {
    transform: scale(0.95);
}

.full-height {
    height: 70vh;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

path:focus {
    outline: none;
}

/* Tables */

.users-delete-cell {
    padding: 5px 0 0 0;
    text-align: center;
}

/* Users */

.users-container {
    height: 70vh;
}

.users-heading {
    font-size: 80px;
    font-weight: 800;
}

/* Create Post */

.form-create {
    padding: 25px 0;
    width: 600px
}

.form-textarea {
    resize: none;
    height: 125px
}

.form-success-message {
    font-size: 14px;
    color: #399918;
}

.form-file-input {
    display: flex;
    align-items: center;
    padding: 6px 0px;
    cursor: pointer;
}

.form-file-button {
    font-size: 14px;
    padding: 5px 15px;
    margin: 0;
}

.form-file-name {
    font-size: 14px;
    margin-left: 15px;
}

.form-file-error {
    font-size: 14px;
    color: red
}

input[type="file"] {
    display: none;
}

/* Modal */

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease-out;
    z-index: -1;
}

.modal {
    background: #F3EEEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #59402D;
    padding: 50px 75px;
    filter: drop-shadow(4px 4px 0px #59402D);
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.2s ease-in-out;
}

.modal-state {
    font-weight: 800;
    font-size: 28px;
    margin: 0;
    padding: 0 0 30px 0;
}

.modal-message {
    font-weight: 450;
    font-size: 18px;
    margin: 0;
    padding: 0 0 20px 0;
}
 
.modal-background.show-modal {
    opacity: 1; 
    z-index: 1;
}

.modal.show-modal {
    opacity: 1;
    transform: scale(1); 
}
  
.modal-background.hide-modal {
    opacity: 0; 
    z-index: -1;
}
  
.modal.hide-modal {
    opacity: 0;
    transform: scale(0.8); 
}

/* Error */

.error-container {
    height: 80vh;
}

.error-code {
    font-size: 120px;
    font-weight: 530;
    margin: 0;
}

.error-message {
    font-size: 22px;
    font-weight: 400;
    margin-top: 50px;
}

.btn-brown {
    background-color: #59402D;
    color: #F3EEEA;
    font-size: 18px;
    font-weight: 450;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 40px;
    padding: 15px 30px;
}

.btn-icon {
    margin-right: 10px;
}

.disable-mouse {
    pointer-events: none;
}