@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Defaults */

body {
    background-color: #263429;
    color: #F2F2F2;
    font-family: "Inter", serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Instrument Serif", serif;
    margin: 0;
    padding: 0;
}

html input {
    font-family: "Inter", serif;
    font-weight: 300;
}

button {
    border: none;
}

a {
    text-decoration: none;
    color: inherit; 
}

a:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

path:focus {
    outline: none;
}

/* Utilities */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.centered {
    justify-content: center;
    align-items: center;
}

.ctr {
    margin: 0;
    padding: 0 5vw;
}

.full-vp {
    height: 100dvh;
    width: 100dvw;
}

.large-hd {
    font-size: 200px;
    font-weight: 200;
    line-height: 100%;
}

.medium-hd {
    font-size: 100px;
    font-weight: 200;
    line-height: 100%; 
}

.small-hd {
    font-size: 60px;
    font-weight: 200;
    line-height: 100%; 
}

.body-txt {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.sub-txt {
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

.btn {
    background-color: #F2F2F2;
    color: #263429;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn-outline {
    background-color: #263429;
    color: #f2f2f2;
    border: #f2f2f2 solid 0.5px;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.disable-mouse {
    pointer-events: none;
}

@media only screen and (max-width: 480px) {
    .ctr {
        margin: 0;
        padding: 0 10vw;
    }
}

/* Forms */

.post-form-ctr {
    width: 40%;
    margin: 100px 0;
}

.form-hd {
    margin-bottom: 50px;
}

.form-inpt-grp {
    margin-bottom: 50px;
}

.form-inpt-labl {
    margin-bottom: 20px;
}

.form-inpt {
    background-color: #263429;
    color: #F2F2F2;
    font-size: 14px;
    border-style: solid;
    border-width: 0 0 0.5px 0;
    border-color: #F2F2F2;
    padding: 8px 0;
    flex-grow: 1;
}

.form-textarea {
    resize: none;
    font-family: inherit;
    height: 125px
}

input[type="file"] {
    display: none;
}

.form-img-upld-ctr {
    justify-content: space-between;
}

.form-img-upld-lbl {
    width: 25%;
}

.form-img-prvw {
    width: 65%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.form-img-filename {
    margin-top: 20px;
}

.form-err {
    color: #FF4545;
}

.form-btn-ctr {
    gap: 20px;
}

/* Tables */

.table-hd-ctr {
    margin-bottom: 50px;
    width: 100%;
    justify-content: space-between;
}

table, th, td {
    border-collapse: collapse;
    border-style: solid;
    border-width: 0.5px;
    border-color: #F2F2F2;
}

thead {
    background-color: #F2F2F2;
}

th {
    text-align: left;
    padding: 15px;
    color: #263429;
    height: 25px;
    min-width: 200px;
}

th:last-child {
    text-align: center;
    min-width: 100px;
}

td {
    padding: 15px;
}

td:last-child {
    text-align: center;
    padding: 15px 0;
}

.table-edt-icon {
    height: 18px;
    margin: 15px;
}

.table-dlt-icon {
    height: 16px;
    margin: 15px;
}


.table-dlt-icon:hover, .table-edt-icon:hover {
    cursor: pointer;
}