.signup-svg {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: -1;
    margin-top: 2.5rem;
}

@media (max-width: 575px) {
    .signup-svg {
        top: 25%;
        left: 5%;
        transform: translate(0%, 0%);
        transform: rotate(20deg);
    }
}