<%- include('partials/header'); -%>
<section class="text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Recent Posts</h1>
      </div>
    </div>
  </section>

  <div class="album">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% posts.forEach((post) => { %>
            <div class="col">
                <div class="card shadow-sm">
                  <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="Thumbnail" class="card-img-top">
                  <div class="card-body">
                    <h3 class="image-title"><%= post.title %></h3>
                    <p class="card-text"><%= post.body %></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        <% }) %>

    
      </div>
    </div>
  </div>

<%- include('partials/footer'); -%>