.comments-ctr {
    margin-top: 50px;
}

.comments-hd {
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 50px;
}

.comment {
    margin: 20px 0;
    flex-direction: row;
    align-items: start;
}

.comment-athr {
    font-size: 16px;
    font-weight: 530;
    margin: 0;
}

.comment-txt {
    margin: 0 0 0 5px;
}

.comment-inpt-grp {
    flex-direction: row;
}

.comment-inpt {
    margin-right: 25px;
}

.comment-btn {
    background-color: #F2F2F2;
    color: #263429;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-dsbled button {
    background-color: #B7B7B7;
}

.comment-dsbled button:hover {
    cursor: not-allowed
}

.comment-dlt {
    margin: 1px 0 0 10px;
    height: 14px;
}

.comment-dlt:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {

    .comments-ctr {
        margin-top: 75px;
    }    
    
    .comments-hd {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .comment-inpt-grp {
        margin: 25px 0;
    }

    .comment {
        flex-direction: column;
        margin: 30px 0;
        gap: 10px;
    }

    .comment-txt {
        margin: 0;
    }

    .comment-dlt {
        margin: 0;
    }
    
}

@media only screen and (max-width: 480px) {
    .comment-inpt-grp {
        flex-direction: column;
        gap: 25px;
    }
}