.places-ctr {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    padding: 50px; 
}

.places-hd {
    margin-top: 100px;
    text-align: center;
}

.no-places-ctr {
    margin-top: 100px;
}

.no-places-msg {
    margin-top: 75px;
}

@media only screen and (max-width: 1024px) {

    .places-ctr {
        grid-template-columns: auto;
        justify-content: center;
        padding: 0;
    }

    .places-hd {
        margin-bottom: 75px;
    }

}