.auth-otr-ctr {
    flex: 1;
}

.auth-inr-ctr {
    align-items: start;
    width: 440px;
}

.auth-frm {
    width: 100%;
}

.auth-btn {
    margin: 20px 0;
}

.auth-2-col-ctr {
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.auth-2-col {
    width: 50%
}

@media only screen and (max-width: 480px) {

    .auth-inr-ctr {
        width: 100%;
    }

    .auth-2-col-ctr {
        justify-content: space-between;
    }    

    .auth-2-col {
        width: 45%
    }

}