.auth-otr-ctr {
    flex: 1;
}

.auth-inr-ctr {
    align-items: start;
    min-width: 30%;
}

.auth-frm {
    width: 100%;
}

.auth-btn {
    margin: 20px 0;
}

.auth-2-col-ctr {
    gap: 5%;
}

.auth-2-col {
    width: 50%
}