.recent-posts-see-more {
    display: inline;
}

.recent-posts-see-more-link {
    color: #453A2F;
}

.recent-posts-see-more-link:hover {
    color: #FF8300;
}


@media (min-width: 576px) and (max-width: 1200px) {
    .home-post-album-container {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}