.post-component-4-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 7.5rem;
}

.post-component-4-image {
    position: absolute;
    object-fit: cover;
    width: 17.5vw;
    height: 12.5vw;
    border-radius: 0.357rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.post-component-4-image-1 {
    top: 0%;
    left: 50%;
}

.post-component-4-image-2 {
    top: 0%;
    left: 75%;
}

.post-component-4-paragraph {
    margin-right: 4rem;
    color: #453A2F;
    font-size: 1.25rem;
}

.post-component-4-image-1-caption {
    position: absolute;
    top: 97%;
    left: 50%;
    font-weight: 600;
}

.post-component-4-image-2-caption {
    position: absolute;
    top: 97%;
    left: 75%;
    font-weight: 600;
}

.post-component-4-background {
    position: absolute;
    top: -25%;
    left: 45%;
}

@media (max-width: 575px) {
    .post-component-4-paragraph {
        margin: 2rem;
        font-size: 1rem;
    }

    .post-component-4-image {
        width: 40vw;
        height: 40vw;
    }

    .post-component-4-image-1 {
        top: 105%;
        left: 7.5%;
    }

    .post-component-4-image-2 {
        top: 105%;
        left: 52.5%;
    }

    .post-component-4-image-1-caption {
        top: 157%;
        left: 7.5%;
        font-size: 0.9rem;
    }

    .post-component-4-image-2-caption {
        top: 157%;
        left: 52.5%;
        font-size: 0.9rem;
    }

    .post-component-4-background {
        position: absolute;
        top: 100%;
        left: 2%;
        max-width: 95%;
        max-height: 100%;
    }

}

@media (min-width: 576px) and (max-width: 1200px) {

    .post-component-4-container {
        width: 100% !important;
        margin: auto 3.5rem;
    }

    .post-component-4-paragraph {
        margin: 0;
        font-size: 1.25rem;
    }

    .post-component-4-image {
        width: 40vw;
        height: 40vw;
    }

    .post-component-4-image-1 {
        top: 125%;
        left: 0%;
    }

    .post-component-4-image-2 {
        top: 125%;
        left: 52%;
    }

    .post-component-4-image-1-caption {
        top: 320%;
        left: 0%;
        font-size: 1.25rem;
    }

    .post-component-4-image-2-caption {
        top: 320%;
        left: 52%;
        font-size: 1.25rem;
    }

    .post-component-4-background {
        position: absolute;
        top: 110%;
        left: 48%;
        max-width: 100%;
        max-height: 100%;
    }
}