.post-album-container {
    margin: 3rem;
}

.post-album-heading {
    margin-right: 1rem;
    display: inline;
    color: #453A2F;
    font-weight: 700
}

.post-album-cards {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}