.post-component-2-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 2.5rem;
}

.post-component-2-image {
    position: absolute;
    object-fit: cover;
    width: 17.5vw;
    height: 12.5vw;
    border-radius: 0.357rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.post-component-2-image-1 {
    top: 0%;
    left: 0%;
}

.post-component-2-image-2 {
    top: 0%;
    left: 25%;
}

.post-component-2-paragraph {
    margin-left: 4rem;
    color: #453A2F;
    font-size: 1.25rem;
}

.post-component-2-image-1-caption {
    position: absolute;
    top: 97%;
    left: 0%;
    font-weight: 600;
}

.post-component-2-image-2-caption {
    position: absolute;
    top: 97%;
    left: 25%;
    font-weight: 600;
}

.post-component-2-background {
    position: absolute;
    top: -25%;
    left: -5%;
}